VITE_SUPABASE_URL=...
VITE_SUPABASE_ANON_KEY=...
VITE_CLOUDINARY_CLOUD_NAME=...
VITE_CLOUDINARY_UPLOAD_PRESET=...
VITE_SEPAY_MERCHANT_ID=c
VITE_SEPAY_SECRET_KEY=c
VITE_GOOGLE_CLIENT_ID=Mở discord để lấy 
VITE_TURNSTILE_SITE_KEY=Mở discord để lấy