:root {
  --inter-bold-font-family: "Inter", Helvetica;
  --inter-bold-font-size: 16px;
  --inter-bold-font-style: normal;
  --inter-bold-font-weight: 700;
  --inter-bold-letter-spacing: 0px;
  --inter-bold-line-height: 24px;
  --inter-medium-font-family: "Inter", Helvetica;
  --inter-medium-font-size: 16px;
  --inter-medium-font-style: normal;
  --inter-medium-font-weight: 500;
  --inter-medium-letter-spacing: 0px;
  --inter-medium-line-height: 24px;
  --inter-medium-underline-font-family: "Inter", Helvetica;
  --inter-medium-underline-font-size: 16px;
  --inter-medium-underline-font-style: normal;
  --inter-medium-underline-font-weight: 500;
  --inter-medium-underline-letter-spacing: 0px;
  --inter-medium-underline-line-height: 24px;
  --inter-regular-font-family: "Inter", Helvetica;
  --inter-regular-font-size: 14px;
  --inter-regular-font-style: normal;
  --inter-regular-font-weight: 400;
  --inter-regular-letter-spacing: 0px;
  --inter-regular-line-height: 20px;
  --inter-regular-strikethrough-font-family: "Inter", Helvetica;
  --inter-regular-strikethrough-font-size: 14px;
  --inter-regular-strikethrough-font-style: normal;
  --inter-regular-strikethrough-font-weight: 400;
  --inter-regular-strikethrough-letter-spacing: 0px;
  --inter-regular-strikethrough-line-height: 20px;
  --inter-semi-bold-font-family: "Inter", Helvetica;
  --inter-semi-bold-font-size: 12px;
  --inter-semi-bold-font-style: normal;
  --inter-semi-bold-font-weight: 600;
  --inter-semi-bold-letter-spacing: 0px;
  --inter-semi-bold-line-height: 16px;
  --material-icons-regular-font-family: "Material Icons", Helvetica;
  --material-icons-regular-font-size: 12px;
  --material-icons-regular-font-style: normal;
  --material-icons-regular-font-weight: 400;
  --material-icons-regular-letter-spacing: 0px;
  --material-icons-regular-line-height: 16px;
  --semantic-heading-1-font-family: "Inter", Helvetica;
  --semantic-heading-1-font-size: 30px;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-letter-spacing: 0px;
  --semantic-heading-1-line-height: 36px;
  --semantic-heading-2-font-family: "Inter", Helvetica;
  --semantic-heading-2-font-size: 24px;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-2-font-weight: 700;
  --semantic-heading-2-letter-spacing: 0px;
  --semantic-heading-2-line-height: 32px;
  --semantic-heading-3-font-family: "Inter", Helvetica;
  --semantic-heading-3-font-size: 20px;
  --semantic-heading-3-font-style: normal;
  --semantic-heading-3-font-weight: 700;
  --semantic-heading-3-letter-spacing: 0px;
  --semantic-heading-3-line-height: 28px;
  --semantic-heading-4-font-family: "Inter", Helvetica;
  --semantic-heading-4-font-size: 14px;
  --semantic-heading-4-font-style: normal;
  --semantic-heading-4-font-weight: 700;
  --semantic-heading-4-letter-spacing: 0px;
  --semantic-heading-4-line-height: 20px;
  --semantic-item-font-family: "Material Icons", Helvetica;
  --semantic-item-font-size: 16px;
  --semantic-item-font-style: normal;
  --semantic-item-font-weight: 400;
  --semantic-item-letter-spacing: 0px;
  --semantic-item-line-height: 24px;
}
